@use "../global/variables" as *;

@mixin devices($device) {
  @if $device == desktop {
    @media only screen and (min-width: 581px) {
      @content;
    }
  } @else if $device == mobile {
    @media only screen and (max-width: 580px) {
      @content;
    }
  }
}

@mixin linearHover($firstColor: $smokyWhite, $secondColor: $lightRed) {
  background-size: 200% 100%;
  background-position: 100%;
  background-clip: text;
  text-decoration: none;
  color: $firstColor;
  background-image: linear-gradient(
    to right,
    $secondColor,
    $secondColor 50%,
    $firstColor 50%
  );
  transition: background-position 0.3s ease-in-out;

  &:hover {
    -webkit-text-fill-color: transparent;
    background-position: 0;
  }
}

@mixin buttonHover(
  $textColor: $smokyWhite,
  $backgroundColor: $lightRed,
  $hoverTextColor: $lightRed,
  $hoverBackgroundColor: $smokyWhite
) {
  border-radius: 0.5vw;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $textColor;
  background-color: $backgroundColor;
  transition: color 1s, background-color 0.5s;
  cursor: pointer;

  &:hover {
    color: $hoverTextColor;
    background-color: $hoverBackgroundColor;
  }
}

@mixin copyPopUP() {
  position: relative;
  align-self: start;
  width: 5.5vw;
  border-radius: 50%;
  padding: 0.8vw 0;
  text-align: center;
  color: $lightRed;
  -webkit-text-fill-color: $lightRed;
  background-color: $smokyWhite;
  opacity: 1;
  transition: 0.2s;

  &::after {
    content: "";
    position: absolute;
    top: 2.1vw;
    right: 4.1vw;
    display: block;
    width: 1vw;
    height: 0.6vw;
    background-color: $smokyWhite;
    transform: rotate(-10deg);
  }
}
