@use "./variables" as *;

@font-face {
  font-family: "Lexend";
  src: local("Lexend"),
    url(../../font/Lexend-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}

:root {
  --scroll: scroll;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lexend", system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

html {
  scrollbar-color: $lightRed $darkGray;
  scrollbar-width: thin;
}

body {
  overflow-y: var(--scroll);
  overflow-x: hidden;
  background-color: $darkGray;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background: $darkGray;
}

::-webkit-scrollbar-thumb {
  background: $lightRed;
}
