@use "./variables" as *;

@font-face {
  font-family: "Lexend";
  src: local("Lexend"),
    url(../../font/Lexend-VariableFont_wght.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: lexend;
}

body {
  background-color: $darkGray;
}

::-webkit-scrollbar-track {
  background: $darkGray;
}

::-webkit-scrollbar-thumb {
  background: $lightRed;
}
