@use "../../global//variables" as *;

.description_section {
  width: 80vw;
  background-color: $darkGray;
}

.title {
  margin: 1.5vw 0 0.8vw 3vw;
  font-size: 1.8vw;
  text-transform: uppercase;
  color: $lightGray;
}

.text {
  margin: 1.5vw 0 0.8vw 3vw;
  font-size: 1.2vw;
  padding-right: 8vw;
  text-align: justify;
  color: $smokyWhite;
}
