@use "../../global//variables" as *;

.vertical_section {
  width: 20vw;
  text-transform: uppercase;
  background-color: $gray;
}

.title {
  margin: 1.5vw 2vw 1vw 0;
  font-size: 2.5vw;
  text-align: right;
  color: $smokyWhite;
}

.options {
  display: flex;
  flex-direction: column;
  text-align: end;
  font-size: 1.1vw;
}

.option {
  margin-top: 0.5vw;
  padding: 0.5vw 2vw 0.5vw 0;
  cursor: pointer;

  &_active {
    color: $smokyWhite;
    background-color: $lightRed;
  }

  &_inactive {
    color: $lightGray;
  }
}
