@use "../../global/variables.scss" as *;

.projects {
  color: $smokyWhite;

  &_title {
    text-align: center;
    font-size: 1.7vw;
    font-weight: bold;
    margin: 4vw 0 2vw;
  }
}

.slider {
  display: flex;
  column-gap: 1.5vw;
  padding: 2vw 3vw;

  &_arrow {
    width: 3vw;
  }
}

.card_wrapper {
  position: relative;
  margin: 2vw 1vw;
}

.image {
  width: 100%;
  border-top-left-radius: 0.7vw;
  border-top-right-radius: 0.7vw;
}

.lower_of_card {
  display: flex;
  flex-direction: column;
  height: 11vw;
  border-bottom-left-radius: 0.7vw;
  background-color: $lightRed;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.2vw;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray;
  }

  &::-webkit-scrollbar-track {
    background-color: $lightRed;
  }
}

.title {
  font-size: 1.2vw;
  padding: 0.5vw 2.5vw 0.5vw 0.5vw;
}

.arrow_icon {
  position: absolute;
  right: 0.5vw;
  top: 10.3vw;
  width: 2.6vw;
  cursor: pointer;
}

.content {
  font-size: 1.1vw;
  padding: 0 0.5vw;
}
