@use "../../global/variables" as *;
@use "../../global/mixins" as *;

.services {
  display: flex;
  flex-direction: column;
  margin: 0 10vw;
  color: $smokyWhite;

  &_title {
    margin: 4vw 0 2vw;
    text-align: center;
    color: white;
    font-size: 1.7vw;
    font-weight: bold;
  }

  &_container {
    display: flex;
    height: 29.4vw;
    box-shadow: rgba(211, 76, 76, 0.45) 0 35px 20px -20px;
  }
}

.service_image {
  width: auto;
  height: 100%;
  border-top-right-radius: 0.8vw;
}

.service {
  &_title {
    font-size: 1.5vw;
    font-weight: bold;
    padding: 0.6vw;
    background-color: black;
  }
}

.active_title {
  background-color: $lightRed;
  transition: background-color 1s;
}

.detail_container {
  overflow-y: scroll;
  transition: height 0.4s;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0.2vw;
  }

  &::-webkit-scrollbar-track {
    background-color: $gray;
  }
}

.active_detail {
  padding: 1.1vw 0.6vw 1.9vw;
  background-color: $gray;
}

.short_content {
  font-size: 1.2vw;
  margin-bottom: 1vw;
}

.link {
  font-size: 1.2vw;
  padding: 0.3vw 0.4vw;
  border: solid $lightGray 0.2vw;
  border-radius: 0.5vw;
  @include linearHover();
}
