@use "../global/variables" as *;
@use "../global/mixins" as *;

.header {
  background-image: url("../../images/header/main_header.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @include devices(desktop) {
    height: 47vw;
  }

  &_text {
    color: $smokyWhite;

    @include devices(desktop) {
      position: absolute;
      top: 18vw;
      left: 4vw;
      z-index: 10;
    }

    @include devices(mobile) {
      width: 100vw;
      text-align: center;
      padding: 12vh 0 5vh;
      background-color: #000000c0;
    }
  }
}

.first_title {
  @include devices(desktop) {
    font-size: 3.7vw;
  }

  @include devices(mobile) {
    font-size: 9vw;
  }
}

.second_title {
  @include devices(desktop) {
    font-size: 2.7vw;
    margin: 0.6vw 0 2.4vw;
  }

  @include devices(mobile) {
    font-size: 7vw;
    margin: 1vh 0 3vh;
  }
}

.address {
  @include devices(desktop) {
    font-size: 1.2vw;
    margin-bottom: 1vw;
  }

  @include devices(mobile) {
    font-size: 4vw;
    margin-bottom: 1vh;
  }
}

.links {
  & > div {
    display: flex;
    column-gap: 1vw;
    margin-top: -1vw;

    @include devices(mobile) {
      justify-content: center;
      margin-left: 13vw;
    }
  }

  & > div > p {
    margin-top: 1.8vw;

    @include devices(desktop) {
      font-size: 1.3vw;
      padding-top: 0.4vw;
      @include linearHover();
    }

    @include devices(mobile) {
      font-size: 4vw;
      padding-top: 1.5vh;
    }
  }

  & > div > div {
    @include copyPopUP();
  }
}

.diagonal_shadow {
  position: absolute;
  top: 4.8vw;
  width: 43.5vw;
  border-bottom: calc(47.05vw - 4.8vw) solid #000000c0;
  border-right: 10.5vw solid transparent;
}
