@use "../global/variables" as *;
@use "../global//mixins" as *;

.header {
  height: 100vh;
  background-image: url("../../images/header/main_header.svg");
  background-repeat: no-repeat;
  background-size: cover;

  &_text {
    position: absolute;
    top: 18vw;
    left: 4vw;
    z-index: 10;
    color: $smokyWhite;
  }
}

.first_title {
  font-size: 3.7vw;
}

.second_title {
  font-size: 2.7vw;
  margin: 0.6vw 0 2.4vw;
}

.address {
  font-size: 1.2vw;
  margin-bottom: 1vw;
}

.links p {
  padding-bottom: 0.4vw;
  @include linearHover($smokyWhite, $lightRed);
}

.diagonal_shadow {
  position: absolute;
  top: 4.8vw;
  width: 43.5vw;
  border-bottom: calc(100vh - 4.8vw) solid #000000c0;
  border-right: 10.5vw solid transparent;
}
