@use "../global/variables" as *;
@use "../global/mixins" as *;

.menu_wrap {
  position: fixed;
  z-index: 35;
}

.menu_toggler {
  position: absolute;
  top: 3vh;
  left: 3vh;
  width: 7vh;
  height: 7vh;
  opacity: 0;
  clip-path: circle(48% at 50% 50%);
  cursor: pointer;
  z-index: 40;

  &:checked + .menu_hamburger > div {
    transform: rotate(135deg);
  }

  &:checked + .menu_hamburger > div:before,
  &:checked + .menu_hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
}

.menu_hamburger {
  position: absolute;
  top: 3.1vh;
  left: 3.1vh;
  display: flex;
  align-items: center;
  width: 6.9vh;
  height: 6.9vh;
  padding: 0.3vh 1.3vh;
  border-radius: 50%;
  background: $fadeLightRed;
  box-shadow: 5px -2px 5px rgba(0, 0, 0, 0.7);
  z-index: 30;

  > div {
    position: relative;
    width: 100%;
    height: 0.4vh;
    border-radius: 5vh;
    background: $smokyWhite;
    transition: all 0.4s ease;
  }

  > div::before,
  > div::after {
    content: "";
    position: absolute;
    top: -1.2vh;
    width: 100%;
    border-radius: 5vh;
    height: 0.4vh;
    background: inherit;
  }

  > div::after {
    top: 1.2vh;
  }
}

.backdrop {
  position: fixed;
  top: -15vh;
  left: calc((100vw - 130vh) / 2);
  width: 130vh;
  height: 130vh;
  border-radius: 50%;
  background-color: $fadeGray;
  transition: transform 0.8s ease;
  z-index: 25;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-bottom: 5vh;
  overflow-y: scroll;
  text-align: center;
  z-index: 30;
  transition: transform 0.8s ease;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.back_btn {
  align-self: start;
  margin-top: 12vh;
  margin-left: 10vw !important;
}

.item_title {
  font-size: 7vw;
  margin-bottom: 4.5vh;
  margin-right: 1vw;
  margin-left: 1vw;
  color: $smokyWhite;

  &_list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3.5vw;
  }
}

.title_inner_link {
  @include linearHover();
}

.arrow_open {
  transform: rotate(-540deg);
  transition: transform 0.5s;
}

.arrow_close {
  transform: rotate(0deg);
  transition: transform 0.5s;
}
